@use '/src/utils/variables';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	padding: 4rem 0rem 5rem 0rem;
	max-width: variables.$max-width;
}

.wrapper {
	margin-top: 2rem;
}

@media (min-width: 999px) {
	.container {
		flex-direction: row;
		justify-content: space-around;
		gap: 2rem;
		width: fit-content;
		padding: 2rem 1rem 7rem 1rem;
	}
}
