@use "/src/utils/variables";

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    height: 50vh;
    gap: 1rem;
    color: variables.$white;
    background: variables.$primary-2 left / cover no-repeat url("/src/assets/images/bg-boost-mobile.svg");
}


@media (min-width: 701px) {
    .container {
        background-image: url("/src/assets/images/bg-boost-desktop.svg");
        min-height: 400px;
    }
}